<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Paaila - One Step Ahead | Contact</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.icon">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/contact-style.css">
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="content">
        <div class="left-side">
            <div class="address details">
                <i class="fas fa-map-marker-alt"></i>
                <div class="topic">Address</div>
                <div class="text-one">kathmandu, Nepal</div>
            </div>
            <div class="phone details">
                <i class="fas fa-phone-alt"></i>
                <div class="topic">Phone</div>
                <div class="text-one">+977 9843811223</div>
                <div class="text-two">+977 9843812445</div>
            </div>
            <div class="email details">
                <i class="fas fa-envelope"></i>
                <div class="topic">Email</div>
                <div class="text-one">paaila@gmail.com</div>
                <div class="text-two">info.paaila@gmail.com</div>
            </div>
        </div>
        <div class="right-side">
            <div class="topic-text">Send us a message</div>
            <p>If you have any work from us or any types of quries, you can send us message from here. It's our pleasure to help you.</p>
            <form th:action="@{/send-contact-details}" method="post" th:object="${contact}">
                <div class="input-box">
                    <input type="text" placeholder="Enter your name" th:field="*{name}" >
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Enter your email"  th:field="*{email}" >
                </div>
                <div class="input-box message-box">
                    <input type="text" placeholder="write message here"  th:field="*{message}" >
                </div>
                <div class="button">
                    <input type="submit" value="Send Now" >
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>